@media screen and (max-width: 700px) {
  .form__padding {
    padding: 0px !important;
  }

  .table-responsive {
    padding: 0x !important;
  }

  .header {
    font-size: 1.5rem !important;
  }

  .form-disclaimer {
    font-size: 1rem !important;
  }

  .col-md-12 {
    padding: 0px !important;
  }

  .microscope-icon {
    width: 70%;
  }

  .row {
    padding: 0px !important;
  }
  .question {
    padding: 15px !important;
    font-size: 1rem;
  }

  .answer {
    text-align: center;
    padding: 0px !important;
    padding-left: 0px !important;
    font-size: 1rem !important;
  }
}

.form__padding {
  padding: 5% 20%;
}

.question {
  background-color: #f8f9fa;
  border-radius: 10px;
  align-items: center;
  vertical-align: middle !important;
  padding: 20px 30px;
}

.microscope-icon {
  display: inline-block;
  max-height: 100%;
  max-width: 100%;
  position: relative;
  transform: translateY(-50%);
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.frame {
  vertical-align: middle;
  text-align: center;
  display: table-cell;
  padding: 20px 0px;
}

.table th,
.table td {
  border-top: none !important;
  border-bottom: none !important;
  padding-left: 30px;
}

th.answer {
  text-align: center;
  font-family: "Open Sans";
  letter-spacing: 0.5px;
  font-size: 1.5rem !important;
  font-weight: 600 !important;
  padding-top: 40px;
}

.MuiFormControlLabel-root {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

th.questionRow {
  font-size: 2.5rem !important;
  vertical-align: middle;
}

table {
  border-collapse: separate !important;
  border-spacing: 1em !important;
}

.row {
  margin: 0 !important;
  padding-bottom: 20px;
}

.header {
  padding-bottom: 15px;
}

.captcha {
  text-align: center;
  padding: 0 !important;
}

#g-recaptcha {
  display: inline-block;
  padding-bottom: 25px;
}

.makeStyles-root-91 {
  border: none !important;
}

.MuiInputBase-input {
  border: 2px solid #f8f9fa !important;
}

.submit {
  padding-bottom: 20px;
}

.form-disclaimer {
  font-style: italic;
}
