@media screen and (max-width: 700px) {
  .row {
    padding: 0px !important;
  }
  .question {
    padding: 0px !important;
  }

  .answer {
    padding: 0px !important;
    padding-left: 0px !important;
    font-size: 1rem !important;
  }
}

.question {
  background-color: #f8f9fa;
  border-radius: 10px;
  align-items: center;
  vertical-align: middle !important;
  padding: 20px 30px;
}

.form__image {
  display: block;
  max-width: 80%;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 15%;
}

.frame {
  vertical-align: middle;
  text-align: center;
  display: table-cell;
  height: 80%;
}

.table th,
.table td {
  border-top: none !important;
  border-bottom: none !important;
  padding-left: 30px;
}

th.answer {
  font-family: "Open Sans";
  letter-spacing: 0.5px;
  font-size: 1.5rem !important;
  font-weight: 600 !important;
  padding-top: 40px;
  text-align: left;
}

.MuiFormControlLabel-root {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

th.questionRow {
  font-size: 2.5rem !important;
  vertical-align: middle;
}

table {
  border-collapse: separate !important;
  border-spacing: 1em !important;
}

.row {
  margin: 0 !important;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 100px;
}

.col-md-7 {
  padding: 0 !important;
}

#g-recaptcha {
  float: right;
  padding-right: 20px;
  padding-bottom: 25px;
  display: block;
  clear: both;
}

.makeStyles-root-91 {
  border: none !important;
}

.MuiInputBase-input {
  border: 2px solid #f8f9fa !important;
}

.submit {
  padding-right: 20px;
}

.submit-button {
  float: right;
  display: block;
  clear: both;
}

.formDisclaimer {
  font-style: italic;
}
