@media screen and (max-width: 500px) and (max-height: 900px) {
  /*Mobile Phone*/
  .info__title {
    font-size: 1.5rem !important;
    padding-top: 5% !important;
  }

  .info__container {
    height: 100% !important;
    padding: 2% 10% !important;
  }
}

.info__title {
  padding-top: 0%;
  padding-bottom: 3%;
}

.info__container {
  height: max-content !important;
  padding: 3% 20%;
}

.cardStyle {
  width: 60% !important;
  margin-bottom: 1rem !important;
}
