.iframe-container {
  overflow: hidden;
  position: relative;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1%;
}

.iframe-container iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

@media screen and (max-width: 370px) {
  .iframe-container {
    margin-left: 0%;
    margin-right: 0%;
  }
}
