.home {
  height: 82%;
  width: 100%;
  display: inline-flex;
  position: relative;
}

.home__logo {
  width: 500px;
}

.home__left {
  background-image: url("../../assets/home.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 50%;
  position: relative;
}

.home__label {
  position: absolute;
  width: 400px;
  bottom: 0;
  right: 0;
  padding-right: 20px;
  padding-bottom: 16px;
  color: white !important;
  text-align: right;
}

.home__right {
  margin: 10%;
  width: 50%;
  text-align: center;
  position: relative;
}

.home__content {
  position: absolute;
  top: 45%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.home__title {
  padding-bottom: 16px !important;
}

.home__subtitle {
  padding-bottom: 32px !important;
}
