.google-signin-button {
  border-radius: 24px !important;
  width: 180px;
  height: 40px;
  margin-top: 15px;
  background-color: rgb(255, 255, 255);
  display: inline-flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.54);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px,
    rgba(0, 0, 0, 0.24) 0px 0px 1px 0px;
  padding: 0px;
  border-radius: 2px;
  border: 1px solid transparent;
  font-size: 14px;
  font-weight: 500;
  font-family: Roboto, sans-serif;
}

.google-disabled {
  display: none !important;
}

@media screen and (max-width: 992px) {
  .google-signin-button {
    margin-bottom: 10px;
    width: 180px;
  }
}

@media screen and (max-width: 365px) {
  .logout__text {
    font-size: 14px !important;
  }
}
