/* set main containers to take up full size of screen */
html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

.nav {
  height: 5%;
}

/* generic elements */
h1 {
  font-family: "Open Sans";
  font-weight: lighter;
  letter-spacing: 16px;
  font-size: 4rem;
}

p {
  font-family: "Open Sans";
  letter-spacing: 0.4px;
}

button {
  background-color: #f54263;
  border: none;
  border-radius: 10px;
  height: 54px;
  width: 300px;
  color: white;
  font-family: "Open Sans";
  letter-spacing: 0.4px;
}

button:hover {
  border: 2px solid #f54263;
  background-color: white;
  color: #f54263;
  -webkit-transition: 0.09s ease-in;
}

button:focus {
  outline: none;
}

.world {
  position: absolute;
  bottom: 5%;
  left: 5%;
}

.canada {
  position: absolute;
  bottom: 5%;
  right: 5%;
}

.stat__image {
  width: 40px;
}

.stat__text {
  padding-left: 16px;
  display: inline;
}

/* home styling */
.home {
  height: 95%;
  width: 100%;
  padding: 5%;
  display: inline-flex;
  position: relative;
}

.home__left {
  width: 50%;
  position: relative;
}

.home__icon {
  width: 500px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 4%;
}

.home__right {
  width: 50%;
  text-align: center;
  position: relative;
}

.home__content {
  position: absolute;
  top: 45%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.title {
  padding-bottom: 16px;
}

.description {
  padding-bottom: 16px;
}
