.footer {
  position: absolute;
  font-style: italic;
  padding: 1% 13%;
  margin-top: 30vh;
  left: 0;
  text-align: left;
  background-color: #f8f9fa;
}

@media screen and (max-width: 600px) {
  .footer {
    margin-top: 15vh;
  }
}
