html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  min-height: 700px;
  width: 100%;
}

h1 {
  font-family: "Open Sans";
  letter-spacing: 16px;
  font-size: 4rem !important;
}

h2 {
  font-family: "Open Sans";
  letter-spacing: 2px;
  font-weight: 600 !important;
  font-size: 1.2rem !important;
  padding-left: 60px;
  color: black !important;
}

h3 {
  font-family: "Open Sans";
  letter-spacing: 0.5px;
  font-size: 1.2rem !important;
}

h4 {
  font-family: "Open Sans";
  letter-spacing: 0.5px;
  font-size: 2.5rem !important;
  font-weight: 600 !important;
  padding-top: 40px;
}

p {
  font-family: "Open Sans";
  letter-spacing: 0.1px;
  font-size: 1.1rem;
}

.red-button {
  background-color: #f54263;
  border: none;
  border-radius: 24px !important;
  height: 60px;
  width: 100%;
  color: white;
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 1.3rem;
  letter-spacing: 0.5px;
}

.red-button:hover:enabled {
  border: 2px solid #f54263;
  background-color: white;
  color: #f54263;
  -webkit-transition: 0.09s ease-in;
}

.red-button:disabled {
  background-color: #f8f9fa;
  color: black;
}

button:focus {
  outline: 0 !important;
}

button:hover {
  cursor: pointer !important;
}

.header__logo {
  width: 120px;
}

.navbar {
  box-shadow: 0px 1px 8px 0.5px #ccc;
  height: 10%;
  min-height: 40px;
}

.navbar-toggle {
  margin-top: 23px;
  padding: 9px 10px !important;
}

.navbar-toggler {
  border: none !important;
  height: 50px;
}

.navbar-toggler:hover {
  color: #f8f9fa !important;
}

.navbar-collapse {
  padding: 0px 75px;
  background-color: #f8f9fa;
  z-index: 2;
}

@media screen and (max-height: 1100px) and (max-width: 850px) and (min-height: 900px) and (min-width: 700px) {
  /*Tablet*/
  .navbar-collapse {
    padding: 0px 25px;
  }
}

.nav-link {
  width: max-content !important;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 26px;
    padding-bottom: 26px;
    line-height: 20px;
  }
}
