html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

h1 {
  font-family: "Open Sans";
  letter-spacing: 16px;
  font-size: 4rem !important;
}

h2 {
  font-family: "Open Sans";
  letter-spacing: 2px;
  font-size: 1rem !important;
  padding-left: 60px;
  color: black !important;
}

h3 {
  font-family: "Open Sans";
  letter-spacing: 0.5px;
  font-size: 1rem !important;
}

h4 {
  font-family: "Open Sans";
  letter-spacing: 0.5px;
  font-size: 2.5rem !important;
  font-weight: 600 !important;
  padding-top: 40px;
}

p {
  font-family: "Open Sans";
  letter-spacing: 0.3px;
}

.red-button {
  background-color: #f54263;
  border: none;
  border-radius: 24px !important;
  height: 60px;
  width: 300px;
  color: white;
  font-family: "Open Sans";
  font-weight: 300;
  letter-spacing: 0.5px;
}

.red-button:hover {
  border: 2px solid #f54263;
  background-color: white;
  color: #f54263;
  -webkit-transition: 0.09s ease-in;
}

button:focus {
  outline: 0 !important;
}

.navbar {
  height: 75px;
  min-height: 40px;
}

.navbar-toggle {
  margin-top: 23px;
  padding: 9px 10px !important;
}

.navbar-toggler {
  border: none !important;
  height: 50px;
}

.navbar-toggler:hover {
  color: #f8f9fa !important;
}

.navbar-collapse {
  padding: 0px 75px;
  background-color: #f8f9fa;
  z-index: 2;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 26px;
    padding-bottom: 26px;
    line-height: 20px;
  }
}
