.logo {
  max-width: 400px;
  padding: 20px;
  transition: transform 0.2s;
}

.logo:hover {
  transform: scale(1.05);
}

.company-row {
  width: 60%;
  display: flex;
  justify-content: center;
}

.sponsor-logos {
  padding-top: 50px;
}

@media screen and (max-width: 380px) {
  .title {
    font-size: 40px !important;
  }
}

.emailLink {
  color: #212529;
  text-decoration: none !important;
}

.emailLink:hover {
  color: grey;
}

.contact {
  text-align: center;
  font-family: "Open Sans";
  padding: 0%;
  font-size: 18px;
}
